/config/personal.zsh
/config/personal.bash
/config/personal.sh
/config/deluge
/config/FastoRedis
/config/configstore
/_config/chromium
/_config/Slack/
/_config/pulse
/_config/enchant
/_config/spotify
/_config/omf
/_config/gcloud
